/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Montserrat';
}

html, body {
    width: 100%;
    height: 100%;
}

#back {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#back video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -999999;
    width: 100%;
}

#nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 30px;
    color: #fff;
    /* background-color: yellow; */
}

#nav #logo {
    font-weight: 400;
}

#nav #bold {
    font-weight: 800;
    /* color: black; */
}

#linksnsearch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    /* width: 500px; */
    /* background-color: rebeccapurple; */
}

#linksnsearch button {
    margin-left: 50px;
    padding: 10px 32px;
    background-color: transparent;
    color: #fff;
    font-size: 11px;
    -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) .7s;
    -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) .7s;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .7s;
    border: 1px solid rgba(255, 255, 255, 0.507);
}

#linksnsearch i {
    color: white;
    font-size: 14px;
    margin-right: 20px;
}

#linksnsearch input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    outline: none;
    color: #fff;
}

#linksnsearch button:hover {
    color: black;
    cursor: pointer;
    background-color: white;
}

#main {
    position: absolute;
    top: 50%;
    left: 5%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 40%;
    /* height: 300px; */
    /* background-color: red; */
}

#main h5 {
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 10px;
    margin-bottom: 10px;
}

#main h1 {
    color: #fff;
    line-height: 80px;
    font-size: 80px;
}

#main p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.315);
    margin-top: 10px;
}

#main hr {
    width: 70%;
    margin: 15px 0;
    opacity: .4;
}

#main #searchbar {
    margin-top: 30px;
    display: inline-block;
    /* background-color: rebeccapurple; */
    border-bottom: 1px solid #fff;
    /* padding-bottom: 0px; */
}

#main #searchbar i {
    color: #fff;
    margin-right: 30px;
}

#main #searchbar input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    width: 250px;
    padding: 11px 5px;
}

#main #searchbar input::-webkit-input-placeholder {
    color: #fff;
    font-weight: 300;
    font-size: 17px;
}

#main #searchbar input::-moz-placeholder {
    color: #fff;
    font-weight: 300;
    font-size: 17px;
}

#main #searchbar input:-ms-input-placeholder {
    color: #fff;
    font-weight: 300;
    font-size: 17px;
}

#main #searchbar input::-ms-input-placeholder {
    color: #fff;
    font-weight: 300;
    font-size: 17px;
}

#main #searchbar input::placeholder {
    color: #fff;
    font-weight: 300;
    font-size: 17px;
}

#bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    /* height: 250px; */
    padding: 16px 20px;
    background-color: rgb(255, 255, 255);
    /* backdrop-filter: blur(4px); */
}

#bottomright h3 {
    font-weight: 500;
    font-size: 17px;
}

#offers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    /* height: 50px; */
    margin-top: 10px;
    /* background-color: red; */
    margin-bottom: 10px;
}

.offer {
    width: 46%;
    height: 40px;
    border-radius: 3px;
    background-color: #eeeeee;
    border: 1.3px ridge rgba(28, 110, 164, 0.15);
}

#places {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 110px;
    margin-top: 5px;
    /* background-color: red; */
}

.place {
    width: 47%;
    height: 100%;
    border: 1.3px solid #eeeeee;
    /* background-color: yellow; */
    padding: 10px;
}

.place h4 {
    margin-top: 10px;
    font-weight: 500;
    color: rgb(68, 68, 68);
}

.image {
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: 50% 70%;
    background-image: url(https://images.unsplash.com/photo-1575389468025-4472bf833000?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}

#body {
    width: 100%;
    min-height: 100vh;
    /* background-color: yellow; */
}

.container {
    margin: 0 auto;
    width: 90%;
    min-height: 100vh;
    padding: 40px 0px;
    background-color: #fff;
}

.container h1{
    color: rgb(180, 180, 180);
    font-weight: 700;
    text-transform: uppercase;
}

#text-effect {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 72px;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#bold{
    color: #777;
}

#collage{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 600px;
    margin-top: 30px;
    /* background-color: rgb(238, 238, 238); */
}

.left{
    position: relative;
    width: 60%;
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1501555088652-021faa106b9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1953&q=80);
    /* background-color: yellow; */
}

#leftIcon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    z-index: 9999;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    left: -25px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
}

#leftIcon i{
    color: #c2c2c2;
    font-size: 12px;
}

.right{
    position: relative;
    width: 40%;
    min-height: 600px;
    background-color: #fff;
}

.card{
    position: absolute;
    top: 50%;
    left: -5%;
    overflow: auto;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 70%;
    /* padding: 20px;
    padding-top: 60px; */
    height: 80%;
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: -60px 2px 20px -20px rgba(0, 0, 0, 0.311), 7px 5px 10px 0 rgba(0, 0, 0, 0.062);
            box-shadow: -60px 2px 20px -20px rgba(0, 0, 0, 0.311), 7px 5px 10px 0 rgba(0, 0, 0, 0.062);
    border: 3px ridge rgba(236, 236, 236, 0.11);
}

#headerofcard{
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 17px;
    color: rgb(102, 102, 102);
    background-color: #fff;
}

#callouts{
    width: 100%;
    height: calc(100% - 50px);
    padding: 10px 20px;
    overflow: auto;
    background-color: #fff;
}

#callouts::-webkit-scrollbar{
    width: 7px;
}


#callouts::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-color: rgb(216, 237, 245);
}

.callout{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    min-height: 100px;
    margin-bottom: 20px;
    /* background-color: #f3f3f3; */
}

.arrow{
    position: absolute;
    left: -40px;
    top: 0;
    width: 0;
    height: 0;
    border: 20px solid rgb(169, 214, 231);
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.userimg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1531251445707-1f000e1e87d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=562&q=80);
}

.rvw{
    position: relative;
    width: 72%;
    min-height: 100px;
    margin-top: 10px;
    border-radius: 8px;
    border-top-left-radius: 0px;
    padding: 10px;
    font-size: 13px;
    line-height: 23px;
    background-color: rgb(169, 214, 231);
}

#destinationplan{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 100vh;
    /* background-color: red; */
}

#destright{
    position: relative;
    overflow: hidden;
    width: 45%;
    min-height: 100vh;
    background-color: #fff;
}

#circle{
    position: absolute;
    top: -10%;
    right: -40%;
    border-radius: 50%;
    width: 700px;
    height: 700px;
    background-color: transparent;
    border: 1.5px solid rgb(201, 201, 201);
}

.small{
    position: absolute;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) .2s;
    -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) .2s;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .2s;
    background-color: rgb(44, 44, 44);
}

.small:hover{
    cursor: pointer;
    -webkit-transform: scale(3.2);
        -ms-transform: scale(3.2);
            transform: scale(3.2);
}

#s-one{
    
    left: 101px;
    bottom: 91px;
}

#s-one:hover{
    background-size: cover;
    background-color: initial;
    background-image: url(https://images.unsplash.com/photo-1579961611811-54b643ddbd91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
}

#s-two{
    left: 302px;
    bottom: -4px;
}

#s-two:hover{
    background-size: cover;
    background-color: initial;
    background-image: url(https://images.unsplash.com/photo-1579706783492-081a217cd55e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=1950&q=80);
}

#bigcircle{
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 420px;
    height: 420px;
    border-radius: 50%;
    background-color: red;
}

#image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1579623430776-9ca237d80b20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
}

#targetwgrdnt{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.163);
}

#targetwgrdnt i{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: 1.2px solid #fff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}


#destleft{
    position: relative;
    width: 55%;
    min-height: 100vh;
    /* background-color: yellow; */
}


#dlfone{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 18%;
    right: 40px;
    width: 70%;
    /* height: 200px; */
    /* background-color: red; */
}

#dlfone h1:nth-child(1){
    font-size: 160px;
    font-weight: 300;
    color: rgb(240, 54, 95);
}

#dlfone h1:nth-child(2){
    width: 30%;
    font-weight: 600;
    color: rgb(124, 124, 124);
    text-transform: capitalize;
}

#dlftwo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 47%;
    right: 40px;
    width: 62%;
    height: 170px;
    /* background-color: rebeccapurple; */
}

#upndownarrows{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 15%;
    height: 100%;
    /* background-color: red; */
}

#upndownarrows i{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    font-size: 12px;
    border: 1.2px solid #666;
}

#choose{
    width: 70%;
    /* height: 100%; */
    /* background-color: yellow; */
}

#choose h5{
    color: orangered;
    font-size: 20px;
}

#choose h3{
    margin: 10px 0;
    font-size: 25px;
    font-weight: 600;
}

#choose p{
    font-size: 14px;
}


#mountain{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

#mountain #backimg{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
}

#mountain #clouds{
    position: absolute;
    z-index: 999;
    width: 100%;
    bottom: 0;
}

#mountain #mountainpiece{
    position: absolute;
    bottom: -200px;
    left: 50%;
    height: 70%;
    z-index: 92;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: .5;
}

#mountain #heading{
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    line-height: 110px;
    text-align: center;
    opacity: .2;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 202px;
    z-index: 70;
    color: rgb(22, 43, 71);
    font-family: "PlayFair Display";
}

#footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 50px;
    width: 100%;
    height: 100px;
    color: rgb(22, 43, 71);
    background-color: #fff;
}

#footer h2{
    font-size: 22px;
    font-weight: 300;
}

#footer h2::first-letter{
    font-size: 30px;
    font-weight: 600;
    margin-right: 2px;
}

@media(max-width: 500px){
    #back video{
        width: initial;
        height: 100%;
    }
    #back #logo #bold{
        color: #fff;
    }
    #back #nav{
        height: 50px;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        padding: 0 20px;
    }
    #back #nav #linksnsearch{
        display: none;
    }
    #back #main{
        width: 100%;
        /* background-color: red; */
    }
    #back #main h1{
        font-size: 60px;
        line-height: 70px;
    }
    #back #main h5{
        margin-bottom: 0px;
    }
    #back #bottomright{
        display: none;
    }
    #back #main p{
        font-size: 11px;
        margin-top: 0px;
    }
    #back #main hr{
        margin: 9px 0;
    }
    #main #searchbar{
        margin-top: 0px;
    }

    #body .container h1{
        font-size: 20px;
    }
    #body .container h1 #text-effect{
        font-size: 42px;
        display: block;
        letter-spacing: 5px;
    }
    #body .container #collage{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #body .container #collage .left{
        width: 100%;
        min-height: 320px;
    }
    #body .container .left #leftIcon{
        width: 30px;
        height: 30px;
        left: -10px;
        -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
    }
    #body .container .right{
        width: 100%;
        min-height: 400px;
    }    
    #body .container .right .card{
        width: 100%;
        position: static;
        top: 0;
        left: 0;
        margin-top: 50px;
        height: 400px;
        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
                transform: translate(0, 0);
        -webkit-box-shadow: -15px 2px 20px -20px rgba(0, 0, 0, 0.311), 7px 5px 10px 0 rgba(0, 0, 0, 0.062);
                box-shadow: -15px 2px 20px -20px rgba(0, 0, 0, 0.311), 7px 5px 10px 0 rgba(0, 0, 0, 0.062);
    }
    #destinationplan{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #destleft{
        width: 100%;
        min-height: 50vh;
    }
    #dlfone{
        width: 100%;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        right: 0px;
        top: 6%;
    }
    #dlfone h1:nth-child(1){
        font-size: 120px;
    }
    #dlfone h1:nth-child(2){
        width: 40%;
        font-size: 22px;
    }
    #dlftwo{
        width: 100%;
        right: 0;
        top: 35%;
        padding: 0 30px;
    }
    #upndownarrows{
        height: 65%;
    }
    #upndownarrows i{
        width: 35px;
        font-size: 10px;
        height: 35px;
    }
    #choose h3{
        margin: 5px 0;
        font-size: 20px;
    }
    #destright{
        width: 100%;
        min-height: 70vh;
    }
    #circle{
        width: 350px;
        height: 350px;
        top: 15%;
    }
    #circle #bigcircle{
        width: 250px;
        height: 250px;
    }
    .small{
        width: 20px;
        height: 20px;
    }
    #s-two{
        left: 137px;
        bottom: -8px;
    }
    #s-one{
        left: 137px;
        bottom: 337px;
    }
    #mountain #backimg{
        width: initial;
        min-height: 150%;
    }    
    #mountain #clouds{
        width: 200%;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        bottom: 120px;
    }
    #mountain #heading{
        font-size: 110px;
        color: #fff;
    }
    #footer{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding: 20px;
        /* height: 70px; */
        /* background-color: red; */
    }
    #footer p{
        margin-top: 10px;
        margin-bottom: 20px;
    }
}